*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.col-1{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-2{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-3{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-4{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-5{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-6{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
    padding: 0;
}

.col-7{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-8{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-9{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-10{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-11{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}

.col-12{
    background-color: #FFC0CB;
    height: calc(100vh / 5);
    border: 1px solid black;
}


.nopadd{
    height: calc(97vh / 5);
    background-color: #F07F80;
   
}